@import url(../../style.css);
.button{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 5px 15px;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    color: var(--blue);
    cursor: pointer;
    transition: all 0.2s ease;
}

.contained{
    color: var(--white);
    background-color: var(--blue);
}
.outlined{
    color: var(--blue);
    background-color: var(--white);
    border: 1px solid var(--blue);
}
.small{
    padding: 4px 10px;
    font-size: 13px;
}
.large{
    padding: 8px 22px;
    font-size: 15px;
}
.button:disabled{
    color: var(--disabled-border);
}
.contained:disabled{
    background-color: var(--disabled-bg);
}
.outlined:disabled{
    border-color: var(--disabled-border);
}

.outlined:hover,
.text:hover{
    background-color: var(--checkbox-hover);
}
.contained:hover{
    background-color: var(--button-hover);
}