.dropdown-container{
    width: 225px;
    box-sizing: border-box;
    min-width: fit-content;
    margin: 0 auto;
    position: relative;
    height: 50px;
    color: hsla(var(--gray-text));
}
.dropdown-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}
.dropdown-opotions-container{
    width: inherit;
    min-width: inherit;
    position: absolute;
    top: 50px;
    margin: 0 8px;
    border-radius: 4px;
}
.dropdown-options{
    padding: 0;
    margin: 0;
    /* background: #ffffff; */
    border: none;
    box-sizing: border-box;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: inherit;
    box-shadow:
    rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.option{
    padding: 0.5em 1em;
    list-style: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
}
.option:hover{
    background-color: var(--select-hover);
}

.option-focused{
    background-color: var(--switch-cheked);
}

.arrow{
    position: absolute;
    right: 15px;
    width: 24px;
    height: 24px;
    transition:  200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.rotated-arrow{
    transform: rotate(180deg);
    transition:  200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}